/***** MAIN PAGE *****/
/***** BASE *****/
body{
    color: #000000;
    font-family: 'Montserrat',Helvetica, Arial, sans-serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 12px;
}
p {
    line-height: 36px;
}

.content-wrapper{
    width: 1200px;
    margin: 0 auto;     /** centers the content **/
    overflow: auto;
}

/***** HEADER *****/
header h1{
    width: 300px;
    float: left;
    margin: 0;
    padding: 36px 0;
}
header h1 span {
    color: #45610E;
}
header nav{
    width: 400px;
    float: right;
    padding: 44px 0;
}
header nav ul {
    padding: 0;
    margin: 0;
    text-align: right;
}
header nav ul li {
    display: inline-block;      /** places all items on the same line **/
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
}
header nav ul li a {
    text-decoration: none;
    color: #45610E;
}

/***** BODY *****/
.main-image img {
    border-top: 3px solid #77A466;
    border-bottom: 3px solid #77A466;
}
.welcome-message h2 {
    margin: 0;
    padding: 25px 0;
    color: #45610E;
}

.bottom-section .content-wrapper {
    border-top: 5px solid #EEE;
    border-bottom: 5px solid #EEE;
}
.specials,
.reviews {
    width: 350px;
}
.specials, 
.reviews, 
.contact{
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0 40px;
}
.reviews{
    width: 500px;
    border-left: 5px solid #EEE;
    border-right: 5px solid #EEE;
}
.bottom-section h3 {
    margin: 0;
    padding: 30px 0;
}
.menu {
    padding-left: 0;
    list-style: none;
}
.menu li {
    color: #45610E;
    line-height: 36px;
}


/***** FOOTER *****/
footer {
    text-align: center;
    margin: 0;
    padding-top: 8px;
}
footer span {
    font-family: "Galada", cursive;
    text-transform: lowercase;
    color: #45610E;
    font-size: 14px;
}